datasets/MR/
datasets/SST/
datasets/TREC/
datasets/CR/
datasets/.DS_Store
datasets/*.pyc

embs/word2vec
embs/glove
embs/.DS_Store
embs/*.pyc

utils/*.pyc
base/*.pyc

saved_model/
tools/

*.pyc
.DS_Store
