datasets/MR/
datasets/SST/
datasets/TREC/
datasets/CR/
datasets/BB/.DS_Store
datasets/BB/engraw.txt
datasets/BB/bibleeng
datasets/.DS_Store
datasets/*.pyc

embs/word2vec
embs/glove
embs/.DS_Store
embs/*.pyc

utils/*.pyc
base/*.pyc

saved_model/
tools/

*.tar.gz
*.pyc
.DS_Store
